.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}


.download-button{
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid gray;
}
.contact-button{
    padding: 10px 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    color: #ffffff;
}
.banner{
    text-align: center;
    background-image: url(../assets/Hero-bg.png);
    padding: 50px 0px;
    
}




.main-title{
    font-weight:bolder;
}



body{
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
}
.development-sarvice{
    text-align: center;

}


.development-container{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 3rem;
    background-color: rgb(246, 246, 247);
    border-radius: 5px;
    padding: 0 3rem;
}
.developer-bg{
    width: 50%;
    margin: 0 auto;
}


.developer-img{
    width: 300px;
}
.developer-bd{
    width: 50%;
    margin: 0 auto;
    align-items: center;
}
.development-taitle {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 3rem;
    background-color: rgb(246, 246, 247);
    border-radius: 5px;
    padding: 0 3rem;
    margin-top: 20px;
    margin-bottom: 20px;
}
.skill-1{
    background-color: rgb(240, 227, 227);
    padding: 20px;
    border-radius: 7px;
}
.skill-2{
    background-color: rgb(250, 197, 197);
    padding: 20px;
    border-radius: 7px;
}
.skill-3{
    background-color: bisque;
    padding: 20px;
    border-radius: 7px;
}

.content-video{
    text-align: center;
}
.technology{
    text-align: center;
}
.skills-container{
    display: flex;
    gap: 24px;
    padding: 30px;
}
.content-support{
    text-align: center;
    background-image: url('../assets/handshake.jpg');
    background-size: cover;
    padding: 3rem 3rem;

}
.footer{
    background-color: rgb(247, 247, 247);
    display: flex;
    gap: 500px;
    justify-content: space-between;
    align-items: center;
}